@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: hsl(0, 36%, 70%);
}

.container {
  display: flex;
  min-height: 100vh;
}

.left {
  background-image: url("images/bg-pattern-desktop.svg");
  background-size: cover;
  background-position: center center;
  width: 58%;
}

.right {
  width: 42%;
}

.bg-image {
  background-image: url("images/hero-desktop.jpg");
  background-size: cover;
  background-position: center center;
}

.logo {
  margin: 60px 0 8% 25%;
  width: 200px;
}

.title {
  font-weight: 600;
  text-transform: uppercase;
  color: hsl(0, 6%, 24%);
  display: inline-block;
  width: 100%;
  font-size: 4rem;
  line-height: 1.125;
  letter-spacing: 0.75rem;
  margin: 8% 0 0 25%;
}

.title span {
  font-weight: 300;
  color: hsl(0, 36%, 70%);
}

p {
  display: block;
  margin: 4% 0 4% 25%;
  max-width: 50%;
  font-size: 1rem;
  line-height: 1.25;
}

form {
  margin-left: 25%;
  max-width: 50%;
  position: relative;
}

input {
  background-color: transparent;
  width: 100%;
  height: 3rem;
  border: 1px solid hsl(0, 36%, 89%);
  padding-left: 6%;
  border-radius: 50px;
}

input:focus {
  outline: none;
  border-width: 2px;
  box-shadow: 0px 0px 15px hsla(0, 36%, 70%, 0.65);
}

form.error input {
  border: 2px solid hsl(0, 93%, 68%);
}

::placeholder {
  color: hsl(0, 36%, 80%);
  opacity: 1;
}

button {
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 2px 5px 25px hsla(0, 36%, 70%, 0.65);
  padding: 2.5%;
  width: 85px;
  height: 3rem;
  border-radius: 50px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  transition-duration: 300ms;
}

button:hover {
  opacity: 0.5;
  transform: scale(1.05);
}

button:focus {
  outline: none;
}

.error-icon {
  display: none;
  position: absolute;
  top: 0;
  transform: translateY(50%);
  right: 100px;
}

form.error .error-icon {
  display: block;
}

small {
  color: hsl(0, 93%, 68%);
  display: none;
  margin-top: 2%;
  padding-left: 6%;
  font-weight: bold;
}

form.error small {
  display: block;
}

@media screen and (max-width: 850px) {
  .title {
    width: 100%;
    margin: 12.5% auto 5%;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.5rem;
  }
}

@media screen and (max-width: 500px) {
  .left {
    width: 100%;
    background-image: linear-gradient(
      135deg,
      hsl(0, 0%, 100%),
      hsl(0, 100%, 98%)
    );
  }

  .right {
    width: 0;
  }

  .logo {
    margin: 15% 0 10% 10%;
    height: 2.5%;
    width: auto;
  }

  .mobile-bg {
    background-image: url("images/hero-mobile.jpg");
    min-height: 30vh;
    width: auto;
    background-size: cover;
    background-position: top center;
  }

  p {
    max-width: 80%;
    margin: 0 auto 7.5%;
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
  }

  form {
    max-width: 80%;
    margin: 0 auto 10%;
  }
}
